IDs.sh
*~
*.pkg
*.tar.gz
*.tgz
build
temp
dist
dist-*
tcl
tk
tcllib
Sqlite_src/sqlite*
TclTLS_src/tcltls
TkLib_src/tklib
TclThread_src/thread-*
TDBC_src/tdbc_src
tDOM_src/include
tDOM_src/lib
tDOM_src/share
tDOM_src/tdom-0.9.6-src
tdbcsqlite3_src/tdbcsqlite3
arm64
x86_64
openssl-3*
usr_local_bin