<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <title>Tcl/Tk</title>
    <background alignment="bottomleft" file="Tcl9Logo.png" mime-type="image/png" scaling="proportional"/>
    <background-darkAqua alignment="bottomleft" file="Tcl9Logo-dark.png" mime-type="image/png" scaling="proportional"/>
    <welcome file="Welcome.html" mime-type="text/html"/>

    <pkg-ref id="org.tcl-lang.core-Tk9.1.0"/>
    <pkg-ref id="org.tcl-lang.core-Tcl9.1.0"/>
    <pkg-ref id="org.tcl-lang.core-bin9.1.0"/>    
    <pkg-ref id="org.tcl-lang.core-TclLib2.0"/>
    <pkg-ref id="org.tcl-lang.core-TkLib0.9"/>
    <pkg-ref id="org.tcl-lang.core-Thread3.0.3"/>
    <pkg-ref id="org.tcl-lang.core-Sqlite3.50.4"/>
    <pkg-ref id="org.tcl-lang.core-TclTLS2.0"/>
    <pkg-ref id="org.tcl-lang.core-TkImg2.1.0"/>
    <options customize="allow" require-scripts="true" hostArchitectures="x86_64,arm64"/>
    <choices-outline>
      <line choice="org.tcl-lang.core-Tcl9.1.0"/>
      <line choice="org.tcl-lang.core-Tk9.1.0"/>
      <line choice="org.tcl-lang.core-bin9.1.0"/>
      <line choice="org.tcl-lang.core-TclLib2.0"/>
      <line choice="org.tcl-lang.core-TkLib0.9"/>
      <line choice="org.tcl-lang.core-Thread3.0.3"/>
      <line choice="org.tcl-lang.core-Sqlite3.50.4"/>
      <line choice="org.tcl-lang.core-TclTLS2.0"/>
      <line choice="org.tcl-lang.core-TkImg2.1.0"/>
    </choices-outline>
    <choice id="org.tcl-lang.core-Tcl9.1.0" title="Tk">
        <pkg-ref id="org.tcl-lang.core-Tcl9.1.0"/>
    </choice>
    <choice id="org.tcl-lang.core-Tk9.1.0" title="Tcl">
        <pkg-ref id="org.tcl-lang.core-Tk9.1.0"/>
    </choice>
    <choice id="org.tcl-lang.core-bin9.1.0" title="/usr/local/bin">
        <pkg-ref id="org.tcl-lang.core-bin9.1.0"/>
    </choice>
    <choice id="org.tcl-lang.core-TclLib2.0" title="TclLib">
        <pkg-ref id="org.tcl-lang.core-TclLib2.0"/>
    </choice>
    <choice id="org.tcl-lang.core-TkLib0.9" title="TkLib">
        <pkg-ref id="org.tcl-lang.core-TkLib0.9"/>
    </choice>
    <choice id="org.tcl-lang.core-Thread3.0.3" title="Thread">
        <pkg-ref id="org.tcl-lang.core-Thread3.0.3"/>
    </choice>
    <choice id="org.tcl-lang.core-Sqlite3.50.4" title="Sqlite">
        <pkg-ref id="org.tcl-lang.core-Sqlite3.50.4"/>
    </choice>
    <choice id="org.tcl-lang.core-TclTLS2.0" title="TclTLS">
        <pkg-ref id="org.tcl-lang.core-TclTLS2.0"/>
    </choice>
    <choice id="org.tcl-lang.core-TkImg2.1.0" title="TkImg">
        <pkg-ref id="org.tcl-lang.core-TkImg2.1.0"/>
    </choice>
    <pkg-ref id="org.tcl-lang.core-Tcl9.1.0" version="9.1.0" onConclusion="none">
      tcl.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-Tk9.1.0" version="9.1.0" onConclusion="none">
      tk.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-bin9.1.0" version="9.1.0" onConclusion="none">
      bin.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-TclLib2.0" version="2.0" onConclusion="none">
      tcllib.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-TkLib0.9" version="0.9" onConclusion="none">
      tklib.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-Thread3.0.3" version="3.0.3" onConclusion="none">
      thread.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-Sqlite3.50.4" version="3.50.4" onConclusion="none">
      sqlite.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-TclTLS2.0" version="2.0" onConclusion="none">
      tcltls.pkg
    </pkg-ref>
    <pkg-ref id="org.tcl-lang.core-TkImg2.1.0" version="2.1.0" onConclusion="none">
      tkimg.pkg
    </pkg-ref>
</installer-gui-script>
